#blog h3, h4 {
    text-align: center;
    font-size: 25px;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}

#blog img:hover {
    transition: 0.2s;
    filter:brightness(40%);
    border-radius: 1%;
}
